<div class="page-header" ng-controller="UserController as UserCtrl">
    <div>
        <a ng-href="/#user/add">
            <button type="button" class="btn btn-default">Añadir empleado</button>
        </a>
    </div>
    <br>
    <div ng-repeat="user in users">
        <div class="panel panel-default">
            <div class="media">
                <div class="media-left">
                    <img ng-src="{{user.image}}" height="90" width="90" class="img" alt="{{user.first}} {{user.last}}">
                </div>
                <div class="media-body">
                    <h3><a ng-href="/#user/{{user.first | slugify}}">{{user.first}} {{user.last}}</a></h3>
                    <p>{{user.city}}  <span ng-if="user.state">({{user.state}})</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
