body{
    background-color:  #ddedf4;
}

.ability-javascript{
    background-color: yellow;
    color: black;
}

.ability-python{
    background-color: blue;
}

.ng-invalid.ng-dirty{
    border-color: red;
    border-width: 2px;
}

.ng-valid.ng-dirty{
    border-color: yellow;
    border-width: 2px;
}