<ul class="list-group">
    <li class="list-group-item"><strong>Calle: </strong><span class="pull-right">{{ UserCtrl.user.street }}</span></li>
    <li class="list-group-item"><strong>Población: </strong><span class="pull-right">{{ UserCtrl.user.city }}</span></li>
    <li class="list-group-item"><strong>Provincia: </strong><span class="pull-right">{{ UserCtrl.user.state }}</span></li>
    <li class="list-group-item"><strong>Código postal: </strong><span class="pull-right">{{ UserCtrl.user.cp }}</span></li>
    <li class="list-group-item"><strong>Habilidades: </strong><span ng-repeat="ability in UserCtrl.user.abilities" class="label ability-{{ ability | lowercase }} pull-right">{{ ability }}</span></li>    
</ul>
